# Introduction

This notebook analyses...

## Core aspects

- cohorts: defined by month of creation of first cash advance (`created_at`)

goal:

- track monthly evolution of key metrics by cohort

key metrics:

- frequency of usage of cash advancements over time
- incident rate
- revenue generated
- new relevant metric (TBD)

## Exploratory Data Analysis (EDA)
1. conduct an exploratory data analysis to gain a comprehensive understanding of the dataset.

2. Explore key statistics, distributions, and visualizations to identify patterns and outliers.

## Data Quality Analysis
1. Assess the quality of the dataset by identifying missing values, data inconsistencies, and potential errors.

2. Implement data cleaning and preprocessing steps to ensure the reliability of your analysis.

## Calculate and analyze the following metrics for each cohort:

1. Frequency of Service Usage: Understand how often users from each cohort utilize IronHack Payments' cash advance services over time.

2. Incident Rate: Determine the incident rate, specifically focusing on payment incidents, for each cohort. Identify if there are variations in incident rates among different cohorts.

3. Revenue Generated by the Cohort: Calculate the total revenue generated by each cohort over months to assess the financial impact of user behavior.

4. New Relevant Metric: Propose and calculate a new relevant metric that provides additional insights into user behavior or the performance of IronHack Payments' services.

relevant columns:

cashRequest:
  - `created_at`
  - `updated_at`

## Deliverables
1. Python Code: Provide well-documented Python code that conducts the cohort analysis, including data loading, preprocessing, cohort creation, metric calculation, and visualization.

## Setup requirements

- extract/define cohorts in dataset

## Table of contents

1. [Introduction](#introduction)
2. [EDA](#eda)  
    a. [Data overview](#data-overview)  
    b. [Data cleaning/quality analysis](#data-cleaning/quality-analysis)  
    c. [Further EDA](#further-eda)
3. [Target data analysis](#target-data-analysis)

# EDA

## Preamble

Loading libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Import data

In [76]:
#First we removed the spaces from the csv files so we can easuly import them here

# We modified our import process to directly cast proper datatypes for dates.
# Float/integer will still be handled in data cleaning, 
# since some of the offending columns have NaN values causing issues (hence presumably the wrong automatic casting)


# lists of columns containing dates

datetime_columns_cash_request = [
    "created_at",
    "updated_at",
    "moderated_at",
    "cash_request_received_date",
    "reimbursement_date",
    "money_back_date",
    "send_at",
    "reco_last_update",
    "reco_creation"
]
   
datetime_columns_fees = [
    "created_at",
    "updated_at",
    "paid_at",
    "from_date",
    "to_date"
]


fees = pd.read_csv("../project_dataset/extract-fees-dataanalyst.csv",
                            parse_dates = datetime_columns_fees)
cashRequest = pd.read_csv("../project_dataset/extract-cashrequest-dataanalyst.csv", 
                            parse_dates = datetime_columns_cash_request)

In [77]:
# This is how we get a small insight in the data
display(fees.head())

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
0,6537,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07 10:47:27.423150+00:00,2020-10-13 14:25:09.396112+00:00,2020-12-17 14:50:07.47011+00,NaN,NaN,after
1,6961,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:17.998653+00:00,2020-10-13 14:25:15.537063+00:00,2020-12-08 17:13:10.45908+00,NaN,NaN,after
2,16296,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23 10:10:58.352972+00:00,2020-10-23 10:10:58.352994+00:00,2020-11-04 19:34:37.43291+00,NaN,NaN,after
3,20775,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31 15:46:53.643958+00:00,2020-10-31 15:46:53.643982+00:00,2020-11-19 05:09:22.500223+00,NaN,NaN,after
4,11242,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06 08:20:17.170432+00:00,2020-10-13 14:25:03.267983+00:00,2020-11-02 14:45:20.355598+00,NaN,NaN,after

In [78]:
# Overview of data in fees
fees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21057 non-null  float64
 2   type             21061 non-null  object
 3   status           21061 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  object
 7   created_at       21061 non-null  datetime64[ns, UTC]
 8   updated_at       21061 non-null  datetime64[ns, UTC]
 9   paid_at          15531 non-null  object
 10  from_date        7766 non-null   object
 11  to_date          7766 non-null   object
 12  charge_moment    21061 non-null  object
dtypes: datetime64[ns, UTC](2), float64(2), int64(1), object(8)
memory usage: 2.1+ MB

**Observations**:

- `cash_request_id` is automatically cast as float64. `int` might be more plausible, change in cleaning
- date-related columns (`created_at`,`updated__at`,`paid_at`,`from_date`,`to_date`) will need special treatment

- after date casting at import still trouble for `paid_at`,`from_date`,`to_date`

In [79]:
display(cashRequest.head())

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00:00,2019-12-11 16:47:42.407830+00:00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaT,NaN,regular,NaN,NaN,NaT,NaT
1,70,100.0,rejected,2019-12-10 19:50:12.347780+00:00,2019-12-11 14:24:22.900054+00:00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaT,NaN,regular,NaN,NaN,NaT,NaT
2,7,100.0,rejected,2019-12-10 19:13:35.825460+00:00,2019-12-11 09:46:59.779773+00:00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaT,NaN,regular,NaN,NaN,NaT,NaT
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00:00,2019-12-18 14:26:18.136163+00:00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaT,NaN,regular,NaN,NaN,NaT,NaT
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00:00,2020-05-07 09:21:55.340080+00:00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaT,NaN,regular,NaN,NaN,NaT,NaT

In [80]:
# Overview of data in cashRequest
cashRequest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          23970 non-null  int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  object
 3   created_at                  23970 non-null  datetime64[ns, UTC]
 4   updated_at                  23970 non-null  datetime64[ns, UTC]
 5   user_id                     21867 non-null  float64
 6   moderated_at                16035 non-null  object
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          23970 non-null  object
 9   cash_request_received_date  16289 non-null  datetime64[ns]
 10  money_back_date             16543 non-null  object
 11  transfer_type               23970 non-null  object
 12  send_at                     16641 non-null  object
 13  recovery_status             3330 non-null   object
 14  reco_creation               3330 non-null   datetime64[ns, UTC]
 15  reco_last_update            3330 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](4), datetime64[ns](1), float64(3), int64(1), object(7)
memory usage: 2.9+ MB

**Observations**:

- `delete_account_id` and `user_id` needn't be floats (cast to int later)
- date-related columns (`created_at`,`updated__at`,`moderated_at`...) will need special treatment
- fewer unique `user_id` values than cashRequest `id`s: indicating multiple transactions for some users or actual missing values?

- after date casting at import the following fields are still `object` rather than `datetime`:
  `moderated_at`,`reimbursement_date`,`money_back_date`,`send_at`

In [81]:
# functions
def evaluateDataFrame(df):
    # Lets check how many values we actually have
    print("Total amount of records")
    print(len(df))
    print()
    # This shows us the amount of empty rows for each column 
    print("Empty rows")
    print(df.isnull().sum())
    print()
    # check the number of unique values for each column 
    print("Unique rows")
    print(df.nunique())
    print()
    #print("DataFrame info")            # we're already calling this earlier, might make sense for plain-py version (although then we could put info() at start and remove len, since that's also displayed by info())
    #fees.info()
    #print()
    

def inspect_data_types(df, name="DataFrame"):
    print(f"=== {name} ===")
    numerical = df.select_dtypes(include='number').columns.tolist()
    categorical = df.select_dtypes(include='object').columns.tolist()
    datetime = df.select_dtypes(include=['datetime','datetime64','datetime64[ns, UTC]']).columns.tolist()
      
    print(f"Numerical columns ({len(numerical)}): {numerical}")
    print(f"Categorical columns ({len(categorical)}): {categorical}")
    print(f"Date columns ({len(datetime)}): {datetime}")
    print()
    
    return numerical, categorical, datetime         # modified to also return the lists for further use

In [82]:
# calling functions
# commented for now, piecewise presentation might be more readable in notebook 

# evaluateDataFrame(cashRequest)
# evaluateDataFrame(fees)

# inspect_data_types(cashRequest)
# inspect_data_types(fees)

In [83]:
cashRequest.isna().sum()

id                                0
amount                            0
status                            0
created_at                        0
updated_at                        0
user_id                        2103
moderated_at                   7935
deleted_account_id            21866
reimbursement_date                0
cash_request_received_date     7681
money_back_date                7427
transfer_type                     0
send_at                        7329
recovery_status               20640
reco_creation                 20640
reco_last_update              20640
dtype: int64

In [84]:
cashRequest.nunique()

id                            23970
amount                           41
status                            7
created_at                    23970
updated_at                    23970
user_id                       10798
moderated_at                  16035
deleted_account_id             1141
reimbursement_date             4089
cash_request_received_date      312
money_back_date               12221
transfer_type                     2
send_at                       16641
recovery_status                   4
reco_creation                  3330
reco_last_update               3330
dtype: int64

In [85]:
fees.isna().sum()

id                     0
cash_request_id        4
type                   0
status                 0
category           18865
total_amount           0
reason                 0
created_at             0
updated_at             0
paid_at             5530
from_date          13295
to_date            13295
charge_moment          0
dtype: int64

In [86]:
fees.nunique()

id                 21061
cash_request_id    12933
type                   3
status                 4
category               2
total_amount           2
reason             15149
created_at         21026
updated_at         21061
paid_at            15529
from_date           1084
to_date             1560
charge_moment          2
dtype: int64

In [87]:
fees['total_amount'].unique()

array([ 5., 10.])

In [88]:
fees[['category','total_amount']]

                    category  total_amount
0                        NaN           5.0
1      rejected_direct_debit           5.0
2                        NaN           5.0
3                        NaN           5.0
4                        NaN           5.0
...                      ...           ...
21056                    NaN           5.0
21057                    NaN           5.0
21058                    NaN           5.0
21059                    NaN           5.0
21060                    NaN           5.0

[21061 rows x 2 columns]

Only two types of fees are levied: 5 and 10 Euros(?) - maybe convert to int as well?

In [89]:

cashr_numcols, cashr_strcols, cashr_dtcols = inspect_data_types(cashRequest, name="cashRequest")

=== cashRequest ===
Numerical columns (4): ['id', 'amount', 'user_id', 'deleted_account_id']
Categorical columns (7): ['status', 'moderated_at', 'reimbursement_date', 'money_back_date', 'transfer_type', 'send_at', 'recovery_status']
Date columns (5): ['created_at', 'updated_at', 'cash_request_received_date', 'reco_creation', 'reco_last_update']

In [90]:
fees_numcols, fees_strcols, fees_dtcols = inspect_data_types(fees, name="fees")

=== fees ===
Numerical columns (3): ['id', 'cash_request_id', 'total_amount']
Categorical columns (8): ['type', 'status', 'category', 'reason', 'paid_at', 'from_date', 'to_date', 'charge_moment']
Date columns (2): ['created_at', 'updated_at']

Several of the date fields aren't typed correctly, fix in data cleaning and rerun function

**Observations**

- 2103 empty values in `cashRequest.user_id` corresponding to the difference to `id` noted above
  - also: very close to value of `deleted_account` id (2104), so possible relation to that
- fees are associated to cashRequests via `cash_request_id`

We used these insights to adapt our data import in order to directly cast the correct datatypes for columns that were not correctly identified automatically.

## Data cleaning/quality analysis

### Instructions after EDA
1. Parse all values to the right data types
2. remove loose items (like fees without cashRequest)
3.

In [91]:
# clean the start and ends of all column names so we get no suprises in the data retrieval later
fees.columns = fees.columns.str.strip()
cashRequest.columns = cashRequest.columns.str.strip()

The next block is going to fix datatypes for both dataframes, i.e. fixing the missing dates and casting some columns as integers.

In [92]:

# This is antoher option of parsing datatypes
# errors="coerce" -> means that erroes will force conversion and replace any invalid or unconvertible values with NaT
datetime_columns_cash_request = [
    "created_at",
    "updated_at",
    "moderated_at",
    "cash_request_received_date",
    "reimbursement_date",
    "money_back_date",
    "send_at",
    "reco_last_update",
    "reco_creation"
]

for col in datetime_columns_cash_request:
    cashRequest[col] = pd.to_datetime(cashRequest[col], errors="coerce")
    
datetime_columns_fees = [
    "created_at",
    "updated_at",
    "paid_at",
    "from_date",
    "to_date"
]

for col in datetime_columns_fees:
    fees[col] = pd.to_datetime(fees[col], errors="coerce")
    


float_to_int_fees = [
    "cash_request_id",
    "id"
]

# This currently doesn't work with astype(int), while astype("Int64")
for col in float_to_int_fees:
    fees[col] = pd.to_numeric(fees[col], errors="coerce").astype("Int64")
     
float_to_int_cash_request = [
    "user_id",
    "deleted_account_id",
    "id"
]

for col in float_to_int_cash_request:
    cashRequest[col] = pd.to_numeric(cashRequest[col], errors="coerce").astype("Int64")
    
fees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  Int64
 1   cash_request_id  21057 non-null  Int64
 2   type             21061 non-null  object
 3   status           21061 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  object
 7   created_at       21061 non-null  datetime64[ns, UTC]
 8   updated_at       21061 non-null  datetime64[ns, UTC]
 9   paid_at          15438 non-null  datetime64[ns, UTC]
 10  from_date        6749 non-null   datetime64[ns, UTC]
 11  to_date          6512 non-null   datetime64[ns, UTC]
 12  charge_moment    21061 non-null  object
dtypes: Int64(2), datetime64[ns, UTC](5), float64(1), object(5)
memory usage: 2.1+ MB

In [93]:
cashRequest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          23970 non-null  Int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  object
 3   created_at                  23970 non-null  datetime64[ns, UTC]
 4   updated_at                  23970 non-null  datetime64[ns, UTC]
 5   user_id                     21867 non-null  Int64
 6   moderated_at                15912 non-null  datetime64[ns, UTC]
 7   deleted_account_id          2104 non-null   Int64
 8   reimbursement_date          3050 non-null   datetime64[ns, UTC]
 9   cash_request_received_date  16289 non-null  datetime64[ns]
 10  money_back_date             12040 non-null  datetime64[ns, UTC]
 11  transfer_type               23970 non-null  object
 12  send_at                     16466 non-null  datetime64[ns, UTC]
 13  recovery_status             3330 non-null   object
 14  reco_creation               3330 non-null   datetime64[ns, UTC]
 15  reco_last_update            3330 non-null   datetime64[ns, UTC]
dtypes: Int64(3), datetime64[ns, UTC](8), datetime64[ns](1), float64(1), object(3)
memory usage: 3.0+ MB

In [94]:
cashr_numcols, cashr_strcols, cashr_dtcols = inspect_data_types(cashRequest, name="cashRequest")

=== cashRequest ===
Numerical columns (4): ['id', 'amount', 'user_id', 'deleted_account_id']
Categorical columns (3): ['status', 'transfer_type', 'recovery_status']
Date columns (9): ['created_at', 'updated_at', 'moderated_at', 'reimbursement_date', 'cash_request_received_date', 'money_back_date', 'send_at', 'reco_creation', 'reco_last_update']

In [95]:
fees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  Int64
 1   cash_request_id  21057 non-null  Int64
 2   type             21061 non-null  object
 3   status           21061 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  object
 7   created_at       21061 non-null  datetime64[ns, UTC]
 8   updated_at       21061 non-null  datetime64[ns, UTC]
 9   paid_at          15438 non-null  datetime64[ns, UTC]
 10  from_date        6749 non-null   datetime64[ns, UTC]
 11  to_date          6512 non-null   datetime64[ns, UTC]
 12  charge_moment    21061 non-null  object
dtypes: Int64(2), datetime64[ns, UTC](5), float64(1), object(5)
memory usage: 2.1+ MB

In [96]:
fees_numcols, fees_strcols, fees_dtcols = inspect_data_types(fees, name="fees")

=== fees ===
Numerical columns (3): ['id', 'cash_request_id', 'total_amount']
Categorical columns (5): ['type', 'status', 'category', 'reason', 'charge_moment']
Date columns (5): ['created_at', 'updated_at', 'paid_at', 'from_date', 'to_date']

### Cleaning floats that should be ints

In [97]:
fees[fees['cash_request_id'].isna()]

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
1911,2990,<NA>,instant_payment,cancelled,NaN,5.0,Instant Payment Cash Request 11164,2020-08-06 22:42:34.525373+00:00,2020-11-04 16:01:17.296048+00:00,NaT,NaT,NaT,after
1960,3124,<NA>,instant_payment,cancelled,NaN,5.0,Instant Payment Cash Request 11444,2020-08-08 06:33:06.244651+00:00,2020-11-04 16:01:08.332978+00:00,NaT,NaT,NaT,after
4605,5185,<NA>,instant_payment,cancelled,NaN,5.0,Instant Payment Cash Request 11788,2020-08-26 09:39:37.362933+00:00,2020-11-04 16:01:36.492576+00:00,NaT,NaT,NaT,after
11870,3590,<NA>,instant_payment,cancelled,NaN,5.0,Instant Payment Cash Request 12212,2020-08-12 14:20:06.657075+00:00,2020-11-04 16:01:53.106416+00:00,NaT,NaT,NaT,after

NA-values in `fees.cash_request_id` are for cancelled transactions - let's drop them!(?)

In [98]:
# creating copies before dropping values (optional)
fees_cp = fees.copy()
cashRequest_cp = cashRequest.copy()

In [99]:
# Drop all rows that have are not connected to a cash request anymore
fees_cp.dropna(subset=['cash_request_id'],inplace=True)

In [100]:
# fees_cp['cash_request_id'] = fees_cp['cash_request_id'].astype(int)
fees_cp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21057 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21057 non-null  Int64
 1   cash_request_id  21057 non-null  Int64
 2   type             21057 non-null  object
 3   status           21057 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21057 non-null  float64
 6   reason           21057 non-null  object
 7   created_at       21057 non-null  datetime64[ns, UTC]
 8   updated_at       21057 non-null  datetime64[ns, UTC]
 9   paid_at          15438 non-null  datetime64[ns, UTC]
 10  from_date        6749 non-null   datetime64[ns, UTC]
 11  to_date          6512 non-null   datetime64[ns, UTC]
 12  charge_moment    21057 non-null  object
dtypes: Int64(2), datetime64[ns, UTC](5), float64(1), object(5)
memory usage: 2.3+ MB

### Checking NaT dates

In [101]:
# check date fields with missing data to assess significance
for col in cashr_dtcols:
    if cashRequest_cp[col].isna().sum() > 0:
        print(col, ': ', cashRequest_cp[col].isna().sum())       
        # display(cashRequest_cp[cashRequest_cp[col].isna()].head(10))

moderated_at :  8058
reimbursement_date :  20920
cash_request_received_date :  7681
money_back_date :  11930
send_at :  7504
reco_creation :  20640
reco_last_update :  20640

## Further EDA

# Target data analysis

## Merging datasets

*Note sure if we might want to merge the datasets much earlier?*

Left-join the fees dataframe to the cashRequest dataframe on `id`/`cash_request_id` to create full dataset:
(We want to retain all cash requests even in case they have no associated fees.)

In [106]:
df = cashRequest_cp.merge(fees_cp, how='left', left_on='id', right_on='cash_request_id')
print(len(cashRequest_cp))
print(len(fees_cp))
print(len(df))

print(cashRequest_cp['id'].dtype)
print(fees_cp['cash_request_id'].dtype)

23970
21057
32094
Int64
Int64

In [67]:
# Group on fees > cash_request_id and count the amount of items -> this will return us the amount of fees per cash_request_id

fee_counts = fees_cp.groupby('cash_request_id').size()

# This returns us all the cash_requests that have multiple fees 
multiple_fees = fee_counts[fee_counts > 1]

# Show them
# print(multiple_fees)
print(len(df))
print(df.info)

23970
<bound method DataFrame.info of           id  amount           status_x                     created_at_x  \
0          5   100.0           rejected 2019-12-10 19:05:21.596873+00:00
1         70   100.0           rejected 2019-12-10 19:50:12.347780+00:00
2          7   100.0           rejected 2019-12-10 19:13:35.825460+00:00
3         10    99.0           rejected 2019-12-10 19:16:10.880172+00:00
4       1594   100.0           rejected 2020-05-06 09:59:38.877376+00:00
...      ...     ...                ...                              ...
23965  20616   100.0         money_back 2020-10-12 13:54:11.686225+00:00
23966  25243    50.0         money_back 2020-10-27 14:41:25.734910+00:00
23967  22357   100.0         money_back 2020-10-20 07:58:04.006937+00:00
23968  20256   100.0         money_back 2020-10-10 05:40:55.700422+00:00
23969  19886   100.0  direct_debit_sent 2020-10-08 14:16:52.155661+00:00

                          updated_at_x  user_id  \
0     2019-12-11 16:47:42.407830+00:00      804
1     2019-12-11 14:24:22.900054+00:00      231
2     2019-12-11 09:46:59.779773+00:00      191
3     2019-12-18 14:26:18.136163+00:00      761
4     2020-05-07 09:21:55.340080+00:00     7686
...                                ...      ...
23965 2021-02-06 20:17:49.292493+00:00    13681
23966 2020-12-18 13:15:40.843946+00:00     <NA>
23967 2021-02-05 12:19:30.656816+00:00    82122
23968 2021-02-05 13:14:19.707627+00:00    64517
23969 2021-01-05 15:45:52.645536+00:00    44867

                          moderated_at  deleted_account_id  \
0     2019-12-11 16:47:42.405646+00:00                <NA>
1     2019-12-11 14:24:22.897988+00:00                <NA>
2     2019-12-11 09:46:59.777728+00:00                <NA>
3     2019-12-18 14:26:18.128407+00:00                <NA>
4     2020-05-07 09:21:55.320193+00:00                <NA>
...                                ...                 ...
23965                              NaT                <NA>
23966                              NaT               30367
23967                              NaT                <NA>
23968                              NaT                <NA>
23969                              NaT                <NA>

                    reimbursement_date cash_request_received_date  ...  \
0     2020-01-09 19:05:21.596363+00:00                        NaT  ...
1     2020-01-09 19:50:12.347780+00:00                        NaT  ...
2     2020-01-09 19:13:35.825041+00:00                        NaT  ...
3     2020-01-09 19:16:10.879606+00:00                        NaT  ...
4                                  NaT                        NaT  ...
...                                ...                        ...  ...
23965                              NaT                 2020-10-13  ...
23966                              NaT                 2020-10-28  ...
23967                              NaT                 2020-10-21  ...
23968                              NaT                 2020-10-12  ...
23969                              NaT                 2020-10-10  ...

        status_y               category total_amount  \
0       accepted                    NaN          5.0
1      cancelled                    NaN          5.0
2      cancelled                    NaN          5.0
3       accepted                    NaN          5.0
4       accepted  rejected_direct_debit          5.0
...          ...                    ...          ...
23965  cancelled                    NaN          5.0
23966        NaN                    NaN          NaN
23967        NaN                    NaN          NaN
23968   accepted                    NaN          5.0
23969  cancelled                    NaN          5.0

                                   reason                     created_at_y  \
0              Postpone Cash Request 2568 2020-06-09 10:55:46.687183+00:00
1              Postpone Cash Request 1796 2020-06-23 08:20:48.886973+00:00
2              Postpone Cash Request 1518 2020-06-23 08:20:48.412006+00:00
3              Postpone Cash Request 2278 2020-05-30 03:49:55.393806+00:00
4                   rejected direct debit 2020-07-18 22:29:38.254506+00:00
...                                   ...                              ...
23965         Postpone Cash Request 22540 2020-10-31 09:54:06.451518+00:00
23966                                 NaN                              NaT
23967                                 NaN                              NaT
23968  Instant Payment Cash Request 26428 2020-10-30 16:54:40.368674+00:00
23969         Postpone Cash Request 23780 2020-10-29 20:49:47.226506+00:00

                          updated_at_y                          paid_at  \
0     2020-10-13 14:25:01.328917+00:00                              NaT
1     2020-10-13 14:25:14.644112+00:00                              NaT
2     2020-10-13 14:25:15.072076+00:00                              NaT
3     2020-10-13 14:25:00.784465+00:00                              NaT
4     2020-10-13 14:25:04.253057+00:00 2020-10-19 10:59:55.753868+00:00
...                                ...                              ...
23965 2020-10-31 09:54:06.451539+00:00                              NaT
23966                              NaT                              NaT
23967                              NaT                              NaT
23968 2020-10-30 16:54:40.368699+00:00 2020-11-30 19:43:29.762332+00:00
23969 2020-10-29 20:49:47.226527+00:00                              NaT

                      from_date                   to_date  charge_moment
0     2020-06-26 22:00:00+00:00 2020-07-26 22:00:00+00:00         before
1     2020-06-06 22:00:00+00:00                       NaT          after
2     2020-05-27 22:00:00+00:00                       NaT          after
3     2020-06-12 22:00:00+00:00 2020-07-09 22:00:00+00:00         before
4                           NaT                       NaT          after
...                         ...                       ...            ...
23965 2020-11-09 22:00:00+00:00 2020-11-17 11:00:00+00:00         before
23966                       NaT                       NaT            NaN
23967                       NaT                       NaT            NaN
23968                       NaT                       NaT          after
23969 2020-11-05 22:00:00+00:00 2020-12-05 11:00:00+00:00         before

[23970 rows x 27 columns]>

In [41]:
print(df.head())

     id  amount  status_x                     created_at_x  \
0     5   100.0  rejected 2019-12-10 19:05:21.596873+00:00
1    70   100.0  rejected 2019-12-10 19:50:12.347780+00:00
2     7   100.0  rejected 2019-12-10 19:13:35.825460+00:00
3    10    99.0  rejected 2019-12-10 19:16:10.880172+00:00
4  1594   100.0  rejected 2020-05-06 09:59:38.877376+00:00

                      updated_at_x  user_id                     moderated_at  \
0 2019-12-11 16:47:42.407830+00:00    804.0 2019-12-11 16:47:42.405646+00:00
1 2019-12-11 14:24:22.900054+00:00    231.0 2019-12-11 14:24:22.897988+00:00
2 2019-12-11 09:46:59.779773+00:00    191.0 2019-12-11 09:46:59.777728+00:00
3 2019-12-18 14:26:18.136163+00:00    761.0 2019-12-18 14:26:18.128407+00:00
4 2020-05-07 09:21:55.340080+00:00   7686.0 2020-05-07 09:21:55.320193+00:00

   deleted_account_id               reimbursement_date  \
0                 NaN 2020-01-09 19:05:21.596363+00:00
1                 NaN 2020-01-09 19:50:12.347780+00:00
2                 NaN 2020-01-09 19:13:35.825041+00:00
3                 NaN 2020-01-09 19:16:10.879606+00:00
4                 NaN                              NaT

  cash_request_received_date  ...   status_y               category  \
0                        NaT  ...   accepted                    NaN
1                        NaT  ...  cancelled                    NaN
2                        NaT  ...  cancelled                    NaN
3                        NaT  ...   accepted                    NaN
4                        NaT  ...   accepted  rejected_direct_debit

  total_amount                      reason                     created_at_y  \
0          5.0  Postpone Cash Request 2568 2020-06-09 10:55:46.687183+00:00
1          5.0  Postpone Cash Request 1796 2020-06-23 08:20:48.886973+00:00
2          5.0  Postpone Cash Request 1518 2020-06-23 08:20:48.412006+00:00
3          5.0  Postpone Cash Request 2278 2020-05-30 03:49:55.393806+00:00
4          5.0       rejected direct debit 2020-07-18 22:29:38.254506+00:00

                      updated_at_y                          paid_at  \
0 2020-10-13 14:25:01.328917+00:00                              NaT
1 2020-10-13 14:25:14.644112+00:00                              NaT
2 2020-10-13 14:25:15.072076+00:00                              NaT
3 2020-10-13 14:25:00.784465+00:00                              NaT
4 2020-10-13 14:25:04.253057+00:00 2020-10-19 10:59:55.753868+00:00

                  from_date                   to_date  charge_moment
0 2020-06-26 22:00:00+00:00 2020-07-26 22:00:00+00:00         before
1 2020-06-06 22:00:00+00:00                       NaT          after
2 2020-05-27 22:00:00+00:00                       NaT          after
3 2020-06-12 22:00:00+00:00 2020-07-09 22:00:00+00:00         before
4                       NaT                       NaT          after

[5 rows x 27 columns]

## Overview of cohorts

In [107]:
# cohorts are defined by year/month combinations

# number of individuals per cohort
df.groupby([df.created_at_x.dt.year,df.created_at_x.dt.month])['user_id'].count()

created_at_x  created_at_x
2019          11                 1
              12               230
2020          1                176
              2                157
              3                207
              4                418
              5                878
              6               3171
              7               4230
              8               4835
              9               5740
              10              9342
              11               137
Name: user_id, dtype: Int64